/* About Section Styles */
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px auto;
  max-width: 80%;
  width: 100%;
  gap: 40px;
}

.about-image {
  width: 520px;
  height: auto;
  object-fit: cover;
}

.about-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-title {
  color: #b7b7b7;
  align-self: center;
  font-weight: 900 !important;
  margin-bottom: 18px !important;
}

.about-description {
  color: #b7b7b7;
  font-size: 1.15rem !important;
  text-align: justify !important;
}

.contact-section {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 48px;
  
}

.landing-root {
  min-height: 100vh;
  min-width: 100vw;
  background: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.landing-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.landing-title {
  color: white;
  font-weight: 1000 !important;
  letter-spacing: 2px !important;
  margin-top: 32px !important;
  margin-bottom: 32px !important;
  text-align: center;
}

.landing-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.landing-image {
  width: 100%;
  opacity: 0.15;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.image-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.overlay-title {
    color: #fff;
    font-size: 5.5rem;
    letter-spacing: 2px;
    font-weight: 1000 !important;
    text-align: center;
    margin-bottom: 12px !important;
}

.overlay-subtitle {
  color: #fff;
  font-size: 2rem !important;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px !important;
}

.general-title {
    color: #06be0f;
    font-size: 5.5rem;
    letter-spacing: 2px;
    font-weight: 1000 !important;
    text-align: center;
    margin-top: 64px !important;
    margin-bottom: 32px !important;
}

.overlay-btn {
  background: #05b30e;
  color: #fff;
  font-weight: 700;
  border: none;
  padding: 20px 32px;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: background 0.2s;
}

.overlay-btn:hover {
  background: #048c0b;
}

.social-links {
  background: #000000;
  width: 100vw;
  padding-bottom: 56px;
}

.social-icons {
  display: flex;
  gap: 48px;
  margin-top: 16px;
  justify-content: center;
}